$color-black: #000000;
$color-jet: #111111;
$color-inkstone: #3b3b3b;
$color-slate: #5d5d5d;
$color-graphite: #666666;
$color-ash: #888888;
$color-silk: #cdcdcd;
$color-porcelain: #f7f7f7;
$color-white: #ffffff;

$color-blue: #335280;
$color-blue-light: #19b6ee;
$color-green: #0e8420;
$color-green-light: #3eb34f;
$color-red: #c7162b;
$color-red-light: #ed3146;
$color-orange: #e95420;

$color-interface-icons: $color-ash;